* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-optical-sizing: auto;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--light-gray);
}

.attribution {
    max-width: 100%;
    width: 315px;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--white);
}

.attribution img {
    border: none;
    border-radius: 0.75rem;
}

.attribution .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 15px;
    margin: 1.4rem 0.75rem;
}

.attribution h1, 
.attribution p {
    text-align: center;
}

.attribution h1 {
    font-size: 21px;
    color: var(--dark-blue);
}

.attribution p {
    font-size: 15px;
    color: var(--grayish-blue);
}